page-computers-detail {
   
}


.item-item{
    margin: 0 auto;
    position: relative;
    z-index: 0;
    .tenge-img {
        width: 26px;
        height: 24px;
        position: absolute;
        left: -6px;
        top: 11px;
        z-index: 1;
    }
    h2 {
        left: 33px;
        top: 17px;
        position: absolute;
    }
}

.price {
        font-weight: 800;
        font-size: 1.6rem !important;
}



